

@font-face {
   font-family: myFirstFont;
   src: url(/html-integration-workshop/assets/font/Radio_Canada/RadioCanada-VariableFont_wdth,wght.ttf);
}

* {
	box-sizing: border-box;
	font-family: myFirstFont;
}

body {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: SourceSansPro,Helvetica,sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0,0,0,.95);
    background: #fff;
    -webkit-text-size-adjust: 100%;
}


.header {
	display: block;
	position: fixed;
	margin: 0px;
    top: 0;
    width: 100%;
    max-width: 100vw;
    box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,.15);
    z-index: 13;
    padding-top: 18px;
    padding-bottom: 0px;
    padding-left: 400px;
    padding-right: 100px;
    height: 7.25rem;
    background-color: #fff;
    font-family: myFirstFont;
    font-size: smaller;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: block;
    width: 100%
    margin: auto;
  }


.top-nav {
    display: flex;
    align-items: center;
    padding-right: 250px;
}


.top-nav .search-container {
    float: right;*/
}

.top-nav .top-buttons {
    display: flex;
    align-items: center;
    margin-left: 50px;
 }

.top-nav .top-buttons p {
       text-align: center;
 }

.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 400px;
    font-size: small;
 }

 .bottom-nav p {
    font-weight: 700;
 }

 .bottom-nav #right-button {

 }

.ad-1 {
    position: absolute;
    top: 117px;
    width: 100%;
    padding: 17px;
    background-color: rgba(211, 211, 211, 0.4);
    background: linear-gradient(to bottom, rgb(211, 211, 211, 0.6) 3%, rgba(211, 211, 211, 0.35) 1%);
 }

 .ad-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

#main {
	width: 80%;
	max-width: 600px;
	margin-left: 500px;
	margin-right: auto;
	margin-top: 273px;
	padding: 20px;
}

.logo {
	height: 50px;
	width: 200px;
}

.fa {
	font-size: 20px;
	width: 34px;
}

/*.navigation-1 p {
	margin-top: -3px;
    margin-left: 20px;
    height: 24px;
}*/

#login, #magazine, #newsletters {
	border-right: 0.0625rem solid rgba(0,0,0,.35);
}

#login {
	width: 80px;
}

#magazine, #newsletters {
	width: 120px;
}

#sweepstakes {
    margin-left: 10px;
}





.review-bar img {
	width: 18px;
}


h1 {
	font-size: 40px;
	font-family:
}

.reference p {
	display: inline-block;
}

#submitted {
	text-align: left;
	width: 40%;
	border-right: 0.0625rem solid rgba(0,0,0,.15);
}

#updated {
	text-align: right;
	width: 37%;
}

#video-recipe {
	width: 565px;
/*	max-width: 600px;
	margin-left: 500px;
	margin-right: auto;*/
}


/*.a {
	text-align: justify;
}
*/
p {
text-align: justify;
}
.per-serving {
	width: 115px;
    margin-top: -49px;
    margin-left: 195px;
    padding: 2px;
}

.plate {
	height: 500px;
	width: 500px;
}

.nutri-table {
	width: 100%;
	table-layout: fixed;
}

td {
	text-align: left;
}
